<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Access Control</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        .custom-context-menu {
        display: none;
        position: absolute;
        z-index: 1000;
        padding: 10px;
        background-color: white;
        border: solid 1px #ddd;
      }
    </style>
  </head>
  <body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">AccessControl</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Перемикання навігації">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form action="/search" method="get" class="form-control form-control-dark w-100" role="search">
      <input class="w-100 search" name="query" type="text" placeholder="Пошук" aria-label="Пошук">
    </form>
    <div class="navbar-nav" >
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home"></span>
                Фізичні особи
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_pass">
                <span data-feather="file"></span>
                Перепустки
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_cp">
                <span data-feather="users"></span>
                Контрагенти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_storage">
                <span data-feather="bar-chart-2"></span>
                Об'єкти
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Фізична особа</h1>
        </div>
        <form class="needs-validation was-validated" action="/add_person" method="post" enctype="multipart/form-data" novalidate="">
          <div class="row g-3">
            <div class="col-sm-4">
              <label for="f_name" class="form-label">Прізвище</label>
              <input type="text" name="m_name" class="form-control" id="m_name" placeholder="" value="" required="">
            </div>
            <div class="col-sm-4">
              <label for="f_name" class="form-label">Ім'я</label>
              <input type="text" name="f_name" class="form-control" id="f_name" placeholder="" value="" required="">
            </div>
            <div class="col-sm-4">
              <label for="l_name" class="form-label">По батькові</label>
              <input type="text" name="l_name" class="form-control" id="l_name" placeholder="" value="" >
            </div>
            <div class="col-md-6">
              <label for="address" class="form-label">Адреса</label>
              <input type="text" name="address" class="form-control" id="address" placeholder="" required="">
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Номер телефону</label>
              <input type="tel" name="phone" class="form-control" id="phone" placeholder="" required="">
            </div>
            <hr>
            <h4 class="mb-3">Документи</h4>
            <div class="my-3">
                <div class="form-check">
                    <input id="passport" name="type_doc" type="radio" class="form-check-input" value="1" required="">
                    <label class="form-check-label" for="passport">Паспорт</label>
                </div>
                <div class="form-check">
                    <input id="driver_license" name="type_doc" type="radio" class="form-check-input" value="2" required="">
                    <label class="form-check-label" for="driver_license">Водійське посвідчення</label>
                </div>
                <div class="form-check">
                    <input id="reference" name="type_doc" type="radio" class="form-check-input" value="3" required="">
                    <label class="form-check-label" for="reference">Довідка</label>
                </div>
            </div>
            <div class="col-md-4">
              <label for="passport_id" class="form-label">Номер документа</label>
              <input type="text" name="passport_id" class="form-control" id="passport_id" placeholder="" required="">
            </div>
            <div class="col-md-4">
              <label for="passport_date" class="form-label">Дата видачі документа</label>
              <input type="datetime-local" name="passport_date" class="form-control" id="passport_date" placeholder="" required="">
            </div>
             <div class="col-md-4">
              <label for="who_write_doc" class="form-label">Хто видав документ</label>
              <input type="text" name="who_write_doc" class="form-control" id="who_write_doc" placeholder="">
            </div>
            <div class="image-container_SB">
                <div id="images" class="image-container"></div>
                <div class="btn btn-outline-primary">
                    <input type="file" name="docs_img" class="form-control d-none" id="file-input" accept="image/png, image/jpeg" onchange="preview()" multiple>
                    <label for="file-input">
                        Завантажити документи
                    </label>
                </div>
            </div>
            <div id="myModal" class="modal">
                <img class="modal-content" id="img01">
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <h4 class="mb-3">Фотографія особи</h4>
                      <!--Image-->
                    <div>
                        <div class="mb-4 ">
                            <img id="selectedImage" src="{{ url_for('static', filename='img/avatar.jpg') }}"
                            alt="example placeholder" style="width: 300px; border-radius: 5px;" />
                        </div>
                        <div class="d-flex">
                            <div class="btn btn-outline-primary ">
                                <label for="customFile1">Вибрати фото</label>
                                <input type="file" name="avatar" class="form-control d-none" id="customFile1" accept="image/png, image/jpeg" onchange="displaySelectedImage(event, 'selectedImage')" required="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1" style="padding-top:30px;"></div>
                <div class="col-lg-7">
                    <h4 class="mb-3">Коментар</h4>
                    <div class="form-group">
                        <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <button class="w-100 btn btn-outline-success" style="margin-bottom:25px;" type="submit">Додати фіз. особу</button>
          </div>
        </form>
      </main>
    </div>
  </div>
  <script>
    let fileInput = document.getElementById("file-input");
    let imageContainer = document.getElementById("images");
    let modal = document.getElementById("myModal");
    let modalImg = document.getElementById("img01");
    function preview(){
        imageContainer.innerHTML = "";
        for(i of fileInput.files){
            let reader = new FileReader();
            let figure = document.createElement("figure");
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                img.onclick = function(){
                    modal.style.display = "flex";
                    modalImg.src = this.src;
                }
                figure.appendChild(img);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i);
        }
    }
    modal.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
  </script>
  <script>
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;
        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                selectedImage.src = e.target.result;
            };
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  </body>
</html>
