<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Access Control</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">



    <style>
        .selected {
            background-color: #add8e6; /* Світло-блакитний фон для вибраних елементів */
        }
       .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    .custom-context-menu {
        display: none;
        position: absolute;
        z-index: 1000;
        padding: 10px;
        background-color: white;
        border: solid 1px #ddd;
    }

    .selected {
        background-color: #add8e6;
    }
    .node-item > .content-container {
        position: relative;
        padding-left: 20px;
    }

    .node-item > .content-container.has-children::before {
        content: '▸';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    .node-item.open > .content-container.has-children::before {
        transform: translateY(-50%) rotate(90deg);
    }

    .node-item > .content-container:not(.has-children) {
        color: #007bff; /* Змінити колір на потрібний */
    }

    /* Загальні стилі для списку */
    ul {
        list-style-type: none; /* Прибираємо маркери списку */
        padding-left: 20px; /* Відступ для вкладеності */
    }

    /* Стилі для елементів списку */
    .node-item {
        margin: 5px 0;
        padding: 5px;
        border-radius: 5px;
        transition: background-color 0.3s; /* Анімація для підсвічування */
    }

    /* Підсвічування при наведенні */
    .node-item:hover {
        background-color: #f0f0f0;
    }

    /* Стилі для активного елемента */
    .node-item.active,
    .selected { /* Додатковий клас для вибраних елементів */
        background-color: #add8e6;
    }

    /* Стилізація курсора */
    .content-container {
        cursor: pointer;
    }

    /* Стилі для приховування/відображення дочірніх елементів */
    .node-item > ul {
        display: none; /* Приховування за замовчуванням */
    }

    .node-item.open > ul {
        display: block; /* Відображення при розкритті */
    }
    </style>
  </head>
  <body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">AccessControl</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Перемикання навігації">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form action="/search_pass" method="get" class="form-control form-control-dark w-100" role="search">
      <input class="w-100 search" name="query" type="text" placeholder="Пошук" aria-label="Пошук">
    </form>
    <div class="navbar-nav" >
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">
                <span data-feather="home"></span>
                Фізичні особи
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/all_pass">
                <span data-feather="file"></span>
                Перепустки
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_cp">
                <span data-feather="users"></span>
                Контрагенти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_storage">
                <span data-feather="bar-chart-2"></span>
                Об'єкти
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Додати перепустку</h1>
        </div>
        <form id="myForm" class="needs-validation was-validated" action="/add_pass/{{ person.id }}" method="post" enctype="multipart/form-data" novalidate="">
            <div class="row g-3">
                <div class="col-sm-4">
                    <label for="f_name" class="form-label">Прізвище</label>
                    <input type="text" name="m_name" class="form-control" id="m_name"  value="{{ person.m_name }}" disabled>
                </div>
                <div class="col-sm-4">
                    <label for="f_name" class="form-label">Ім'я</label>
                    <input type="text" name="f_name" class="form-control" id="f_name" value="{{ person.f_name }}"  disabled>
                </div>
                <div class="col-sm-4">
                    <label for="l_name" class="form-label">По батькові</label>
                    <input type="text" name="l_name" class="form-control" id="l_name" value="{{ person.l_name }}" disabled>
                </div>
                <div class="col-md-6">
                    <label for="address" class="form-label">Адреса</label>
                    <input type="text" name="address" class="form-control" id="address"  value="{{ person.address }}" disabled>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Номер телефону</label>
                    <input type="tel" name="phone" class="form-control" id="phone" placeholder="" value="{{ person.phone }}" disabled>
                </div>
                <hr>

                <div class="col-lg-6">
                    <label for="counterpartie" class="form-label">Контрагент</label>
                    <input type="text" name="counterpartie" class="form-control" id="counterpartie" placeholder="" value="" readonly>
                    <br>
                    <div  style="height: 460px; overflow-y: auto;" id="custom-scrolbar">
                        <div class="table-container">
                            {% for cp in cps[::-1] %}
                            <div class="table-row">
                                    <div class="table-cell"><a href="#" class="cp-link" data-name="{{ cp.name }}">{{ cp.name }}</a></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label  class="form-label">Об'єкти</label>
                    <div style="height: 340px; overflow-y: auto;" class="custom-scrolbar">
                        <ul>
                            {% macro render_node(node) %}
                                <li class="node-item">
                                    <div class="content-container">
                                        <!-- Зміни тут для вибору тільки самих дочірніх елементів -->
                                        <span onclick="{% if not node.children %}selectNode(event, '{{ node.object_id }}');{% endif %} toggleChildren(event, 'children-{{ node.object_id }}')" style="cursor:pointer;" data-selectable="{{ 'true' if not node.children else 'false' }}" data-nodeid="{{ node.object_id }}">
                                            {{ node.name }}
                                        </span>
                                    </div>
                                    {% if node.children %}
                                        <ul id="children-{{ node.object_id }}" style="display: none;">
                                            {% for child in node.children %}
                                                {{ render_node(child) }}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endmacro %}

                            <ul>
                                {% for node in nodes %}
                                    {{ render_node(node) }}
                                {% endfor %}
                            </ul>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <label for="selectedPaths" class="form-label">Вибрані шляхи</label>
                        <textarea class="form-control" id="selectedPaths" rows="6" readonly></textarea>
                    </div>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="car_number" class="form-label">Номер авто</label>
                    <input type="text" name="car_number" class="form-control" id="car_number" placeholder="" value="">
                </div>
                <div class="col-md-6" style="padding-left: 20px;">
                    <label class="form-label">Рівень доступу</label>
                    <div class="form-check">
                        <input id="opening" name="access_level[]" type="checkbox" class="form-check-input" value="1">
                        <label class="form-check-label" for="opening">Відкриття</label>
                    </div>
                    <div class="form-check">
                        <input id="takeaway" name="access_level[]" type="checkbox" class="form-check-input" value="2">
                        <label class="form-check-label" for="takeaway">Винос зберігаємого</label>
                    </div>
                    <div class="form-check">
                        <input id="passage" name="access_level[]" type="checkbox" class="form-check-input" value="3">
                        <label class="form-check-label" for="passage">Прохід</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="issue_date" class="form-label">Перепустка дійсна з</label>
                    <input type="datetime-local" name="issue_date" class="form-control" id="issue_date" placeholder="" value="" required>
                </div>
                <div class="col-md-6">
                    <label for="valid_until" class="form-label">Перепустка дійсна до</label>
                    <input type="datetime-local" name="valid_until" class="form-control" id="valid_until" placeholder="" value="" required>
                </div>
                <button onclick="saveSelectedNodes()" style="margin-bottom:20px;" class="w-100 btn btn-outline-success btn" type="submit">Додати перепустку</button>
            </div>
        </form>
      </main>
    </div>
  </div>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const links = document.querySelectorAll('.cp-link');
        links.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const name = this.getAttribute('data-name');
                document.getElementById('counterpartie').value = name;
            });
        });
    });
    </script>
    <script>
document.addEventListener('DOMContentLoaded', function(event) {
    function restoreToggledElements() {
        document.querySelectorAll('ul[id^="children-"]').forEach(function(element) {
            const state = localStorage.getItem(element.id);
            if (state) {
                element.style.display = state;
                const listItem = element.closest('.node-item');
                listItem.classList.toggle("open", state === 'block');
            }
        });
    }

    window.toggleChildren = function(event, elementId) {
        event.stopPropagation();
        const children = document.getElementById(elementId);
        const listItem = children.parentElement;
        const isOpen = children.style.display === 'block';
        children.style.display = isOpen ? 'none' : 'block';
        localStorage.setItem(elementId, isOpen ? 'none' : 'block');
        listItem.classList.toggle("open", !isOpen);

        if (!isOpen) {
            Array.from(listItem.parentNode.children).forEach(function(sibling) {
                const siblingChildrenList = sibling.querySelector('ul[id^="children-"]');
                if (siblingChildrenList && siblingChildrenList.id !== elementId && siblingChildrenList.style.display === 'block') {
                    siblingChildrenList.style.display = 'none';
                    localStorage.setItem(siblingChildrenList.id, 'none');
                    sibling.classList.remove("open");
                }
            });
        }
    }
    window.selectedNodes = [];
    document.addEventListener('click', function(event) {
        const target = event.target;
        if (target.matches('[data-selectable="true"]')) {
            const nodeId = target.getAttribute('data-nodeid');
            toggleSelectNode(nodeId, target);
        }
    });

    function toggleSelectNode(nodeId, target) {
        const isSelected = window.selectedNodes.includes(nodeId);
        if (isSelected) {
            window.selectedNodes = window.selectedNodes.filter(id => id !== nodeId);
            target.classList.remove("selected");
        } else if (window.selectedNodes.length < 6) {
            window.selectedNodes.push(nodeId);
            target.classList.add("selected");
        }
        updateSelectedPaths();
    }

    function updateSelectedPaths() {
        const pathsArea = document.getElementById('selectedPaths');
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/get_paths", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                pathsArea.value = xhr.responseText;
            }
        };
        xhr.send("selectedNodes=" + window.selectedNodes.join(","));
    }

    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/path_to_save", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("selectedNodes=" + window.selectedNodes.join(","));
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                event.target.submit();
            }
        };
    });

    restoreToggledElements();

    const links = document.querySelectorAll('.cp-link');
    links.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const name = this.getAttribute('data-name');
            document.getElementById('counterpartie').value = name;
        });
    });
});
    </script>
  <script>
  document.querySelectorAll('.node-item > .content-container').forEach(function(container) {
    if (container.nextElementSibling && container.nextElementSibling.tagName === 'UL') {
        container.classList.add('has-children');
        container.addEventListener('click', function(event) {
            const elementId = container.nextElementSibling.id;
            window.toggleChildren(event, elementId);
        });
    }
});
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  </body>
</html>
